@inherits LayoutComponentBase

@inject IStringLocalizer<Language> _strings

<HeadContent>
    <ThemeInjector />
</HeadContent>

<PageTitle>@_strings["AppName"] - @_strings["AppCaption"]</PageTitle>

<div class="page">
    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
