.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow: auto;
}

::deep form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
    background-color: var(--light-bg-color);
    padding: 16px;
    border-radius: 12px;
    box-shadow: var(--shadow-color) 0px 2px 4px, var(--darker-bg-color) 0px 7px 13px -3px, var(--shadow-color) 0px -3px 0px inset;
}

::deep .auth-header {
    width: 100%;
}

::deep .auth-title {
    font-weight: bold;
    text-align: center;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
