.page {
    display: flex;
    height: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow: auto;
    transition: 200ms ease;
}

nav {
    display: flex;
    height: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    overflow: auto;
}

@media only screen and (max-width : 667px) {
    main {
        margin-bottom: 50px;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
