.name {
    display: flex;
    align-items: center;
    gap: 16px;
}

.new-host {
    display: flex;
    gap: 6px;
}

ul {
    margin-top: 8px;
    margin-bottom: 2px;
}

li {
    display: flex;
    align-items: center;
    gap: 8px;
}

    li button {
        background: none;
        border: none;
        color: var(--disabled-text-color);
        padding: 0;
    }

        li button:hover {
            color: red;
            background: none;
            border: none;
        }
