.menu-bar {
    display: none;
}

.shade {
    display: none;
}

.nav-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: var(--dark-bg-color);
    padding: 10px;
    border-right: 2px solid #00000030;
    overflow: auto;
}

    .nav-menu hr {
        display: none;
    }

.menu-header {
    display: block;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
}

.menu-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-home {
    display: none;
}

.menu-main {
    flex: 1;
}

.menu-footer {
    margin-top: 20px;
}

.changes-pending {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 116px;
}

.discard-changes {
    display: grid;
    grid-template-columns: auto 1fr;
    background: unset !important;
    border: unset !important;
    padding: unset;
    text-align: left;
    margin-left: 16px;
}

.compare-changes {
    margin-left: 8px;
    margin-left: 12px;
}

.compare-changes ::deep a {
    display: grid;
    grid-template-columns: auto 1fr;
}

.commit-changes {
    color: var(--alert-text-color);
    background-color: var(--alert-bg-color);
    border-color: var(--alert-border-color);
    border-width: 2px !important;
}

    .commit-changes:hover {
        background-color: var(--alert-hover-bg-color);
        border-color: var(--alert-hover-border-color);
    }

.nav-menu .commit-changes {
    display: grid;
    grid-template-columns: auto 1fr;
    font-weight: bold;
}

@media only screen and (max-width : 667px) {
    .menu-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 48px;
        background-color: var(--darker-bg-color);
        border-top: 2px solid #00000040;
        font-weight: bold;
    }

    .menu-button {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        width: 48px;
        height: 48px;
    }

    .changes-bar {
        position: fixed;
        left: 8px;
        display: flex;
        gap: 6px;
    }
    
    .bar-discard {
        background: unset;
        border: unset;
        padding: unset;
    }

    .commit-bar {
        position: fixed;
        right: 54px;
        display: flex;
        gap: 12px;
    }

    .bar-action {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        gap: 0;
        padding: 2px 6px;
    }

    .nav-menu .changes-pending {
        display: none;
    }
    
    .nav-menu {
        position: fixed;
        bottom: 48px;
        right: 0;
        gap: 12px;
        border: 2px solid #00000040;
        border-bottom: none;
        border-right: none;
        border-top-left-radius: 14px;
        z-index: 502;
        max-height: calc(100% - 70px);
    }
        .nav-menu hr {
            display: block;
            border: 0;
            height: 1px;
            margin: 4px 2px;
            background-color: #80808040;
        }

    .menu-home {
        display: flex;
    }

    .menu-main {
        padding-right: 20px;
    }

    .nav-menu.noshow {
        display: none;
    }

    .shade.show {
        display: block;
        position: fixed;
        inset: 0;
        bottom: 48px;
        background-color: #00000088;
        z-index: 501;
    }

    .menu-header {
        display: none;
    }
}
