.page-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 12px 0;
}

    .page-divider::before,
    .page-divider::after {
        content: "";
        flex: 1;
        border-top: 1px solid var(--disabled-text-color);
    }

    .page-divider:not(:empty)::before {
        margin-right: 8px;
    }

    .page-divider:not(:empty)::after {
        margin-left: 8px;
    }
