.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    user-select: none;
    width: fit-content;
}

    .toggle:hover {
        cursor: pointer;
    }

    .toggle.off .label.on {
        color: var(--input-placeholder-text-color);
    }

    .toggle.on .label.off {
        color: var(--input-placeholder-text-color);
    }

    .toggle .component {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        width: fit-content;
        padding: 0px 8px;
        border-radius: 9px;
        border: 1px solid var(--input-border-color);
        background-color: var(--input-bg-color);
        color: var(--input-text-color);
        font-size: 14px;
    }

    .toggle:hover .component {
        border-color: var(--input-placeholder-text-color);
    }
