html, body {
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

input, select, option, textarea {
    font-family: inherit;
    font-size: 14px;
    padding: 2px 5px;
    outline: none;
    background: var(--input-bg-color);
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
}

    input[type="checkbox"] {
        appearance: none;
        background-color: var(--input-bg-color);
        width: 13px;
        height: 13px;
        margin: 3px 3px 0 3px;
        border: 1px solid var(--input-border-color);
        border-radius: 2px;
    }

        input[type="checkbox"]:hover {
            cursor: pointer;
            background-color: var(--input-placeholder-text-color);
        }

        input[type="checkbox"]:checked {
            appearance: revert;
            accent-color: var(--input-bg-color);
        }

    input[type=file] {
        font-size: inherit;
        color: var(--text-color);
        background-color: var(--light-bg-color);
        border: none;
    }

    input::file-selector-button {
        font-size: 14px;
        color: var(--button-text-color);
        background-color: var(--button-bg-color);
        border: 1px solid var(--button-border-color);
        border-radius: 5px;
        padding: 3px 6px;
        margin-right: 12px;
    }

        input::file-selector-button:hover {
            cursor: pointer;
            color: var(--button-text-color);
            background-color: var(--button-hover-bg-color);
            border: 1px solid var(--button-hover-border-color);
        }

    ::placeholder, select:invalid, option:disabled {
        color: var(--input-placeholder-text-color);
    }

button, .button {
    display: flex;
    gap: 6px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 4px 10px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-bg-color);
    user-select: none;
}
    button:disabled, .button.disabled {
        border: 1px solid var(--darker-bg-color);
        background-color: var(--dark-bg-color);
        cursor: not-allowed;
    }

    button:not(:disabled):hover, .button:not(.disabled):hover {
        cursor: pointer;
        color: var(--hover-text-color);
        border: 1px solid var(--button-hover-border-color);
        background-color: var(--button-hover-bg-color);
    }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--dark-bg-color) var(--input-bg-color);
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 12px;
    border: 1px solid var(--disabled-text-color);
    border-radius: 6px;
}

table {
    margin-top: 12px;
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid var(--disabled-text-color);
}

    th:not(.action) {
        text-align: left;
        padding: 0 18px 3px 6px;
    }

    th.action {
        padding: 2px 12px 3px 12px;
    }

tr.drop-target td {
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
}

tbody tr:nth-child(2n+1) {
    background-color: var(--dark-bg-color);
}

td {
    padding: 4px 18px 4px 6px;
}

    td.action {
        text-align: center;
        vertical-align: middle;
        padding: 4px 12px;
    }

    td.drag-handle {
        color: var(--disabled-text-color);
        padding: 6px 6px;
        cursor: grab;
    }

    td.action button {
        background: none;
        border: none;
        color: var(--disabled-text-color);
        padding: 0;
        margin: auto;
    }

        td.action button:hover {
            color: var(--text-color);
            border: unset;
            background-color: unset;
        }

        td.action button.delete:hover {
            color: red;
        }

    td.action a {
        color: var(--disabled-text-color);
    }

        td.action a:hover {
            color: var(--text-color);
        }

button.action {
    background: none;
    border: none;
    color: var(--disabled-text-color);
    padding: 0;
}

    button.action:hover {
        border: unset;
        background-color: unset;
        color: var(--text-color);
    }

hr {
    border: none;
    border-top: 1px solid var(--disabled-text-color);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--input-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-bg-color);
    border-radius: 0;
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--light-bg-color);
    }

::-webkit-scrollbar-corner {
    background: #00000000;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

    a:hover {
        color: var(--hover-text-color);
    }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font: unset;
}

h1 {
    font-size: 24px;
    padding: 12px 0;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    padding: 6px 0;
}

.monospace {
    font-family: Consolas, monaco, monospace;
}

.help-text {
    font-size: 12px;
    color: var(--disabled-text-color);
    white-space: pre-line;
    margin: 3px 0;
}

#reconnect-modal {
    position: absolute;
    inset: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
    background: var(--reconnect-bg-color);
    color: var(--reconnect-text-color);
    font-size: 36px;
    z-index: 211;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
