.config-pickers {
    display: grid;
    grid-template-columns: calc(50% - 46px) 50%;
    column-gap: 32px;
}

.editor-container {
    margin: 0 -16px;
    width: calc(100% + 32px);
    height: 100%;
    position: relative;
}

.editor {
    position: absolute;
    inset: 0;
}

