.bottom {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

    .bottom .error {
        flex: 1;
        text-align: center;
    }
