.bottom {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    width: 100%;
}

    .bottom .error {
        width: 0;
        min-width: 100%;
        text-align: center;
    }
